<h1></h1>
<form action="/anagramer">
  <div class="form-group">
    <label for="source word">Enter a word</label>
    <input id="source_w" name="source_w" class="form-control" type="text">
    <label for="words to compare">Possible anagrams (one space between each word)</label>
    <input id="words_compare" name="words_compare" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
